<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <!--Set value="true" only if you need to debug log4net! For more details check out link: http://logging.apache.org/log4net/release/faq.html#internalDebug !-->
    <add key="LogFatalErrors" value="true" />
    <add key="LogInfoMsgs" value="true" />
    <add key="LogSQLOutput" value="false" />
    <add key="OverwriteLogs" value="true" />
    <add key="LogDiagnostics" value="false" />
  </appSettings>  
</configuration>
